<% include partials/header %>

    <h1>Comment</h1>
    <div class="container-comment">
        <div class="list-group">
            <!-- loop over blog posts and render them -->

            <a href="/comment/<%= id %>" class="list-group-item">
                <p class="list-group-item-text">
                    <%= id %>
                </p>
                <h4 class="list-group-item-heading">
                    <%= firstName %>
                </h4>
                <p class="list-group-item-text">
                    <%= lastName %>
                </p>
                <p class="list-group-item-text">
                    <%= email %>
                </p>
                <p class="list-group-item-text">
                    <%= telephone %>
                </p>
                <p class="list-group-item-text">
                    <%= subject %>
                </p>
            </a>

        </div>

    </div>
    </div>

    <% include partials/footer %>